In [1]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

C:\Users\Tanya\AppData\Local\Temp\ipykernel_4504\3604972043.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [3]:
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [4]:

# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [5]:
# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [6]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [8]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [9]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

In [10]:
import numpy as np
import pandas as pd
s = pd.Series(['one','two','three','four'])
result = s.str.contains(pat='two')
result

0    False
1     True
2    False
3    False
dtype: bool

In [11]:
s.str.replace('one','two')

0      two
1      two
2    three
3     four
dtype: object

In [12]:
s.str.startswith('o')

0     True
1    False
2    False
3    False
dtype: bool

In [13]:
s.str.endswith('r')

0    False
1    False
2    False
3     True
dtype: bool

In [15]:
new =s.copy()
s = s.str.cat(new,sep=" ,")
s

0        one ,one
1        two ,two
2    three ,three
3      four ,four
dtype: object

In [16]:
data = s.str.get(0)
data

0    o
1    t
2    t
3    f
dtype: object

In [17]:
data = new.str.slice(0,-2,1)
data

0      o
1      t
2    thr
3     fo
dtype: object

In [18]:
d = s.str.find('o')
d

0    0
1    2
2   -1
3    1
dtype: int64